# /etc/systemd/system/nft-generator.service

[Unit]
Description=NFT Generator
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/nft-generator.py | /sbin/nft -f -'
Restart=on-failure

[Install]
WantedBy=multi-user.target
