[Unit]
Description=Wireguard Server
Documentation=https://git.d464.sh/code/wireguard-server
After=network.target

[Service]
Environment="WGS_TOKEN="
Environment="WGS_PRIVATE_KEY="
ExecStart=/usr/bin/wgs server \
	--network 10.0.0.0/8 \
	--config-directory /etc/wgs \
	--dns-server 10.0.0.1 \
	--server-endpoint ipv4.d464.sh \
	--address 10.0.0.1:3000
Restart=always

[Install]
WantedBy=multi-user.target
