[Unit]
Description=Docker System Prune Timer

[Timer]
OnBootSec=1m
OnUnitActiveSec=2h
Unit=docker-system-prune.service

[Install]
WantedBy=timers.target
