[Unit]
Description=Gitea

[Container]
Image=docker.io/gitea/gitea:1.23.1
DNS=10.0.0.1
SecurityLabelDisable=true
Volume=/var/zfs/blackmesa/gitea:/data
Environment=GITEA__database__DBTYPE="sqlite3"
Environment=GITEA__repository__ENABLE_PUSH_CREATE_USER="true"
Environment=GITEA__repository__ENABLE_PUSH_CREATE_ORG="true"
Environment=GITEA__repository__DEFAULT_BRANCH="main"
Environment=GITEA__repository__DEFAULT_REPO_UNITS="repo.code,repo.releases,repo.issues,repo.pulls,repo.wiki,repo.projects,repo.packages,repo.actions"
Environment=GITEA__repository__DEFAULT_PRIVATE="public"
Environment=GITEA__repository__DEFAULT_PUSH_CREATE_PRIVATE="false"
Environment=GITEA__ui_0x2E_user__REPO_PAGING_NUM="25"
Environment=GITEA__server__PROTOCOL="https"
Environment=GITEA__server__HTTP_PORT="3000"
Environment=GITEA__server__DOMAIN="git.d464.sh"
Environment=GITEA__server__ROOT_URL="https://git.d464.sh"
Environment=GITEA__server__START_SSH_SERVER="true"
Environment=GITEA__server__SSH_PORT="2222"
Environment=GITEA__server__SSH_LISTEN_PORT="2222"
Environment=GITEA__server__OFFLINE_MODE="true"
Environment=GITEA__server__LFS_START_SERVER="true"
Environment=GITEA__server__CERT_FILE="cert.pem"
Environment=GITEA__server__KEY_FILE="key.pem"
Environment=GITEA__cron__ENABLED="true"
Environment=GITEA__markup__ENABLED="true"
Environment=GITEA__webhook__ALLOWED_HOST_LIST="10.0.0.0/24,*.d464.sh"
Environment=GITEA__webhook__SKIP_TLS_VERIFY="true"
PublishPort=443:3000
PublishPort=2222:2222

[Install]
WantedBy=default.target
