[Unit]
Description=gitea act runner

[Service]
Type=exec
WorkingDirectory=%h/%i/
ExecStart=/usr/bin/sudo /usr/bin/act_runner daemon -c /etc/act_runner_config.yml
RestartSec=5s
Restart=always

[Install]
WantedBy=default.target
