# /etc/systemd/system/kubernetes-fetch.timer

[Unit]
Description=Run kubernetes-fetch.service every 10 seconds

[Timer]
OnCalendar=*-*-* *:*:00/10
AccuracySec=1ms
Unit=kubernetes-fetch.service

[Install]
WantedBy=timers.target
