[Match]
Type=ether
# Matching all interfaces of type ether causes problems with docker
Kind=!veth

[Network]
DHCP=ipv4
IPMasquerade=yes
IPForward=yes
