[Unit]
Description=Run K3s
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/%N.env
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecCondition=test -e /usr/local/bin/k3s.sh
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s.sh
ExecStopPost=/usr/bin/k3s-killall.sh

[Install]
WantedBy=multi-user.target
