[Unit]
Description=Blocky DNS Server
Documentation=https://0xerr0r.github.io/blocky
After=network.target

[Service]
ExecStart=/usr/bin/blocky --config /usr/etc/blocky.yaml
Restart=always
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
