[Unit]
Description=Wireguard Server Hosts
Documentation=https://git.d464.sh/code/wireguard-server
After=network.target

[Service]
Type=oneshot
Environment="WGS_TOKEN=infra-wireguard"
Environment="WGS_SERVER=http://10.0.0.1:3000"
ExecStart=sh -c '/usr/bin/wgs hosts > /run/router/wireguard-hosts'
Restart=on-failure

[Install]
WantedBy=multi-user.target
